.fundo{background-color: #102C74;}

body h1{text-align: center;
        color: white;
        font-family: Helvetica, sans-serif;}

.centro{width: 1000px;
        height: 600px;
        background-color: aliceblue;
        margin: auto;
        text-align: center;
        }

.centro select{width: 400px;
              text-align: center;
              margin: 4px;
              position: relative;
              z-index: 1;
                }

.centro label{
        display: flex;
        flex-direction: column;
        font-weight: bold;
        margin: 4px;
        font-size: 18px;
        z-index: 1;
        font-family: Helvetica, sans-serif;
      }

.centro label{background-color: #102C74;
              padding: 5px;
             width: 248px;
            margin: auto;
            color: #ddd;
            border-radius: 5px;
            }
                

.bt{
        width: 100px;
        text-align: center;
        position: relative;
        top: 100px;
        font-weight: bold;
        font-size: 18px;}
.bt1{
        width: 100px;
        text-align: center;
        align-items: center;
        font-weight: bold;
        font-size: 18px;}


/* Container do dropdown */
.dropdown {
  position: relative;
  display: inline-block;
}

/* Estilo do botão */
.dropdown-button {
  padding: 10px 20px;
  background-color: white;
  color: black;
  cursor: pointer;
  border-radius: 5px;
  width: 354px;
  height: 14px;
  margin: auto;
  align-items: center;
  border: 1px solid;
  font-size: 16px;
  font-family: Helvetica, sans-serif;
}

.dropdown-button:hover {
  background-color: #102C74;
  color: white;
}

/* Estilo do conteúdo do dropdown */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: white;
  border: 1px solid #ddd;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  min-width: 354px;
  border-radius: 5px;
  z-index: 1000;
  left: 18px;
}

/* Estilo dos itens do dropdown */
.dropdown-item {
  padding: 12px 16px;
  cursor: pointer;
}

.dropdown-item:hover {
  background-color: #f1f1f1;
}

.dropdown-item a{
  text-decoration: none; /* Remove o sublinhado */
  font-style: normal; /* Remove o itálico */}

/* Exibe o dropdown quando o botão é clicado */
.dropdown:hover .dropdown-content {
  display: block;
}

.filt{position: relative;
      top: 200px;}

.select {
  width: 200px; /* Ajuste a largura conforme necessário */
  margin-bottom: 10px; /* Espaçamento entre os selects */
}

.table {
  width: 100%;
  border-collapse: collapse;
  color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  top: 180px;
}

.table th, td {
  padding: 8px;
  border-bottom: 1px solid black;
  text-align: center;
}

.table th {
  background-color: #102C74;
  color: #ddd;
  font-weight: bold;
  font-family: Helvetica, sans-serif;
}

.img {width: 100px;
      height: 90px;
      position: relative;
      left: 100px;}

.dae {font-size: 18px;
      color: #ddd;
      position: relative;
      left: 10px;
      top: 4px;
      font-weight: bold;
      font-family: Helvetica, sans-serif;}

/* static/css/styles.css */
.btn {
  display: inline-block;
  padding: 10px 20px;
  background-color: #102C74; /* Cor de fundo azul */
  color: white; /* Cor do texto */
  text-decoration: none; /* Remove o sublinhado do link */
  border-radius: 5px; /* Bordas arredondadas */
  font-size: 16px;
  font-weight: bold;
  transition: background-color 0.3s ease; /* Efeito de transição suave */
  justify-content: center;
  align-items: center;
  position: relative;
  top: 100px;
  cursor: pointer;
}

.btn:hover {
  background-color: #0056b3; /* Cor de fundo ao passar o mouse */
}

.btn-voltar {
  display: inline-block;
  padding: 10px 20px;
  background-color: #102C74; /* Cor de fundo azul */
  color: white; /* Cor do texto */
  text-decoration: none; /* Remove o sublinhado do link */
  border-radius: 5px; /* Bordas arredondadas */
  font-size: 18px;
  font-weight: bold;
  transition: background-color 0.3s ease; /* Efeito de transição suave */
  justify-content: center;
  align-items: center;
  position: relative;
  top: 280px;
}

.btn-voltar:hover {
  background-color: #0056b3; /* Cor de fundo ao passar o mouse */
}

