{% load static %}

<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DAE_SYSTEMS</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    
</head>
    <div>
    <body class="fundo">
    <div> <img class="img" src="{% static 'imagens/logo' %}" alt="">  <div class="dae"> DIVISÃO DE ANÁLISE ECONÔMICA </div>   </div>
    <h1> SIMULADOR DE PREÇOS </h1>
    
    <div class="centro">

        <br> <br>

        <form action="{% url "custos" %}" method="post">
            
            {% csrf_token %}
            <label for=""> Filtrar Municípios Por: </label>
            {% for f in filter %}
                <input type="radio" name="filter" value="{{ f }}"> {{ f }}
            {% endfor %}
            
            <br>
            
            <select class="cent2" id="mesor" name="mesor">
                {% for msr in meso %}
                    <option value="{{ msr.mesorregiao }}">{{ msr.mesorregiao }}</option>
                {% endfor %}
            </select>
            
            <select class="cent2" id="regiao" name="regiao">
                {% for r in regioes %}
                    <option value="{{ r.regiao }}">{{ r.regiao }}</option>
                {% endfor %}
            </select>
            
            <br>

            <label for="municipio">Município</label>
            <select id="municipio" name="municipio" >
                {% for m in munis %}
                <option value="{{ m.municipio }}">{{ m.municipio }}</option>
                {% endfor %}
            </select>

                    <label for=""> Serviços </label>

                    {% for s in servi %}
                        <input type="radio" name="servico" value="{{ s }}"> {{ s }}
                    {% endfor %}
                    
                    <br>
                    <!-- Campo de texto oculto por padrão -->
                     <div class="cent">
                    <label id="extraInput2"  style="display: none;"> Mbps Internet </label>
                    <input type="text" class="cent" name="mb_net" id="extraInput" style="display: none;">

                    <label id="extraInput3" style="display: none;"> Mbps Dados </label>
                    <input type="text" name="mb_link" class="cent" id="extraInput4" style="display: none;">
                      </div>

                  <br> <br>
                  
                  <label for=""> Ano </label>
                  <select id="select" name="ano">
                    {% for a in anos %}
                    <option value="{{a}}">{{a}}</option>
                    {% endfor %}
                  </select>

                  <script src="{% static 'js/script.js' %}" ></script>

                  <br>
                  
                  <button type="submit" class="btn"> Consultar </button> 
         </form>
                    
    </div>

</body>

</html>